/* Set màu cho toàn thể trang */

:root {
    --header-brg: #252525;
    --black-color: black;
    --gray-color: gray;
    --li-color: white;
    --right-line-light: #2d2d2d;
    --right-line-dark: black;
    --hover-feat: #ADA075;
    --form-brg: #676554;
    --form-border: #54574E;
    --form-text: #ADA075;
    --form-text-brg: #393934bf;
}