.box-adventure,
.box-tour,
.box-service,
.box-seller,
.box-guides {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-adventure .wrap-adventure,
.box-tour .wrap-tour,
.box-seller .wrap-seller,
.box-guides .wrap-guides {
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10px;
}

.box-adventure .wrap-adventure .title-adventure,
.box-tour .wrap-tour .title-tour,
.box-seller .wrap-seller .title-seller,
.box-guides .wrap-guides .title-guides {
    width: 100%;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.box-adventure .wrap-adventure .title-adventure h1,
.box-tour .wrap-tour .title-tour h1,
.box-seller .wrap-seller .title-seller h1,
.box-guides .wrap-guides .title-guides h1 {
    color: #474d4b;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 44px;
    margin: 0px 0px 10px;
    text-align: center;
    text-transform: uppercase;
}

.box-adventure .wrap-adventure .title-adventure p,
.box-tour .wrap-tour .title-tour p,
.box-seller .wrap-seller .title-seller p,
.box-guides .wrap-guides .title-guides p,
.box-achieve .wrap-achieve .title-achieve p {
    color: #1f2933;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.8px;
    text-align: center;
}

.box-adventure .wrap-adventure .content-adventure {
    width: 100%;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-adventure .wrap-adventure .content-adventure .photo-adventure {
    width: 50%;
    display: grid;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: 160px 160px 160px;
    gap: 15px;
    justify-content: center;
}

.box-adventure .wrap-adventure .content-adventure .photo-adventure .photo-card {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.box-adventure .wrap-adventure .content-adventure .photo-adventure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-adventure .wrap-adventure .content-adventure .photo-adventure .photo-card .infor-card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 28, 0.2);
    bottom: 0;
    left: 0%;
    transition: all 0.3s linear;
}

.box-adventure .wrap-adventure .content-adventure .photo-adventure .photo-card:hover .infor-card {
    background-color: rgba(71, 71, 71, 0.8);
    transition: all 0.3s linear;
}

.box-adventure .wrap-adventure .content-adventure .photo-adventure .photo-card .infor-card p {
    position: absolute;
    bottom: 10%;
    left: 7%;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.box-adventure .wrap-adventure .content-adventure .photo-adventure .photo-card .infor-card i {
    position: absolute;
    top: 40%;
    left: 50%;
    color: #fff;
    font-size: 14px;
    opacity: 0;
    transition: all 0.3s linear;
}

.box-adventure .wrap-adventure .content-adventure .photo-adventure .photo-card:hover .infor-card i {
    transform: scale(4);
    opacity: 1;
    transition: all 0.3s linear;
}

.box-adventure .wrap-adventure .content-adventure .text-adventure {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

.box-adventure .wrap-adventure .content-adventure .text-adventure h3 {
    color: #1f2933;
    font-size: 30px;
    line-height: 33px;
    font-weight: 300;
    margin: 0px 0px 35px;
}

.box-adventure .wrap-adventure .content-adventure .text-adventure p {
    color: #1f2933;
    font-size: 18px;
    line-height: 36px;
    font-weight: 300;
    margin: 0px 0px 35px;
}

.box-adventure .wrap-adventure .content-adventure .text-adventure button {
    position: relative;
    width: 40%;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    background-color: transparent;
    border: 3px solid #474d4c;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s;
}

.box-adventure .wrap-adventure .content-adventure .text-adventure button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    background-color: #ADA075;
    border-radius: 8px;
    z-index: -1;
    transition: all 0.5s;
}

.box-adventure .wrap-adventure .content-adventure .text-adventure button:hover::after {
    top: 0;
    left: 0;
}

.box-adventure .wrap-adventure .content-adventure .text-adventure .icon-1 {
    position: absolute;
    width: 5%;
    top: 10px;
    right: 20px;
    color: #2F5C2F;
    transform-origin: 100% 100%;
    transform: rotate(-25deg) translateX(120%) translateY(20%);
    z-index: -1;
    transition: all 0.5s;
}

.box-adventure .wrap-adventure .content-adventure .text-adventure button:hover .icon-1 {
    width: 15%;
    transform: rotate(15deg) translateX(110%) translateY(-50%);
}

.box-adventure .wrap-adventure .content-adventure .text-adventure .icon-2 {
    position: absolute;
    width: 5%;
    top: 20px;
    left: 10px;
    color: #2F5C2F;
    transform-origin: 100% 100%;
    z-index: -1;
    transition: all 0.5s;
}

.box-adventure .wrap-adventure .content-adventure .text-adventure button:hover .icon-2 {
    width: 25%;
    top: -40px;
    left: -80px;
    transform: rotate(90deg);
    z-index: 1;
}

.box-adventure .infor-adventure {
    background-color: #474d4c;
    border: 15px solid #5f6865;
    width: 100%;
    padding: 45px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-adventure .infor-adventure h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 1.3px;
    line-height: 60px;
    color: #fff;
}

.box-adventure .infor-adventure span {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1.3px;
    line-height: 60px;
    color: #fff;
}


/*  section tours */

.box-tour .wrap-tour .content-tour,
.box-seller .wrap-seller .content-seller {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 25px;
}

.box-tour .wrap-tour .content-tour .card-tour,
.box-seller .wrap-seller .content-seller .card-seller {
    width: 100%;
    display: inline-block;
}

.box-tour .wrap-tour .content-tour .card-tour .photo-tour,
.box-seller .wrap-seller .content-seller .card-seller .photo-seller {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.box-tour .wrap-tour .content-tour .card-tour .photo-tour img,
.box-seller .wrap-seller .content-seller .card-seller .photo-seller img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s linear;
}

.box-tour .wrap-tour .content-tour .card-tour:hover .photo-tour img,
.box-seller .wrap-seller .content-seller .card-seller:hover .photo-seller img {
    display: block;
    transform: scale(1.2);
    transition: all 0.3s linear;
}

.box-seller .wrap-seller .content-seller .card-seller .infor-seller {
    padding: 0px 10px;
}

.box-tour .wrap-tour .content-tour .card-tour .photo-tour .time-tour {
    z-index: 1;
    position: absolute;
    top: 5%;
    right: 0;
    color: #ADA075;
    background-color: #000;
    font-size: 18px;
    font-weight: 700;
    padding: 3px 8px;
    transition: all 0.3s linear;
}

.box-tour .wrap-tour .content-tour .card-tour:hover .photo-tour .time-tour {
    color: #fff;
    transition: all 0.3s linear;
}

.box-tour .wrap-tour .content-tour .card-tour .photo-tour .learn-tour {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0.17, 0.17, 0.17, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
}

.box-tour .wrap-tour .content-tour .card-tour:hover .photo-tour .learn-tour {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s linear;
}

.box-tour .wrap-tour .content-tour .card-tour .photo-tour .learn-tour .star-tour {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 15px;
}

.box-tour .wrap-tour .content-tour .card-tour .photo-tour .learn-tour .star-tour i {
    color: orange;
    font-size: 12px;
}

.box-tour .wrap-tour .content-tour .card-tour .photo-tour .learn-tour .book-tour {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-tour .wrap-tour .content-tour .card-tour .photo-tour .learn-tour .book-tour i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.1s linear;
}

.box-tour .wrap-tour .content-tour .card-tour .photo-tour .learn-tour .book-tour i:hover {
    color: #ADA075;
    transition: all 0.3s linear;
}

.box-tour .wrap-tour .content-tour .card-tour .photo-tour .learn-tour .price-tour {
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s linear;
}

.box-tour .wrap-tour .content-tour .card-tour:hover .photo-tour .learn-tour .price-tour {
    bottom: 0%;
    left: 0%;
    transition: all 0.3s linear;
}

.box-tour .wrap-tour .content-tour .card-tour .photo-tour .learn-tour .price-tour .price h3 {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.box-tour .wrap-tour .content-tour .card-tour .photo-tour .learn-tour .price-tour .price span {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.box-tour .wrap-tour .content-tour .card-tour .photo-tour .learn-tour .price-tour .price .discount-price {
    text-decoration-line: line-through;
    font-size: 16px;
    color: #5c5e62;
}

.box-tour .wrap-tour .content-tour .card-tour .photo-tour .learn-tour .price-tour a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s linear;
    padding: 7px 32px 0px 0px;
}

.box-tour .wrap-tour .content-tour .card-tour .photo-tour .learn-tour .price-tour a:hover {
    color: #ADA075;
    transition: all 0.3s linear;
}

.box-tour .wrap-tour .content-tour .card-tour .infor-tour,
.box-seller .wrap-seller .content-seller .card-tour .infor-seller {
    width: 100%;
    margin: 20px 0px 0px 0px;
}

.box-tour .wrap-tour .content-tour .card-tour .infor-tour h3,
.box-seller .wrap-seller .content-tour .card-seller .infor-seller h3 {
    color: #54574E;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    margin: 0px 0px 15px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.box-tour .wrap-tour .content-tour .card-tour:hover .infor-tour h3,
.box-seller .wrap-seller .content-seller .card-seller:hover .infor-seller h3 {
    color: #ADA075;
    transition: all 0.3s linear;
}

.box-tour .wrap-tour .content-tour .card-tour .infor-tour p,
.box-seller .wrap-seller .content-seller .card-seller .infor-seller p {
    color: #1f2933;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin: 0px 0px 10px;
}


/* Styling section service */

.box-service .wrap-activities {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-service .wrap-activities .card-activitie {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 10px;
    text-align: center;
    color: #fff;
}

.big {
    border: 30px solid #b0a377;
}

.box-service .wrap-activities .card-activitie:nth-child(1) {
    background-color: #6b6957;
}

.box-service .wrap-activities .card-activitie:nth-child(2) {
    background-color: #565335;
}

.box-service .wrap-activities .card-activitie:nth-child(3) {
    background-color: #474d4b;
}

.box-service .wrap-activities .card-activitie:nth-child(4) {
    background-color: #b0a377;
}

.box-service .wrap-activities .card-activitie i {
    font-size: 50px;
    transition: all 0.3s linear;
}

.box-service .wrap-activities .card-activitie:hover i {
    transform: translateY(-20px);
    transition: all 0.3s linear;
}

.box-service .wrap-activities .card-activitie span {
    font-size: 40px;
    font-weight: 600;
    line-height: 70px;
}

.box-service .wrap-activities .card-activitie h1 {
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.box-service .wrap-service {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10px;
}

.box-service .wrap-service .card-service {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-service .wrap-service .cs2 {
    flex-direction: row-reverse;
}

.box-service .wrap-service .card-service .img-service {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-service .wrap-service .card-service .img-service img {
    display: block;
    width: 100%;
    height: 100%;
}

.box-service .wrap-service .card-service .infor-service {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.box-service .wrap-service .card-service .infor-service h3 {
    width: 100%;
    color: #474d4b;
    font-size: 30px;
    margin: 0px 0px 35px 0px;
    font-weight: 600;
    line-height: 33px;
}

.box-service .wrap-service .card-service .infor-service p {
    width: 80%;
    color: #1f2933;
    font-size: 18px;
    margin: 0px 0px 35px 0px;
    line-height: 36px;
}

.box-service .wrap-service .card-service .infor-service button {
    width: 30%;
    border: 1px solid #5c5e62;
    border-radius: 5px;
    padding: 5px 10px;
    color: #5c5e62;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 38px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s linear;
}

.box-service .wrap-service .card-service .infor-service button:hover {
    background-color: #565335;
    color: #fff;
    transition: all 0.3s linear;
}

.box-service .select-service {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-service .select-service button {
    color: #fff;
    width: 100%;
    font-size: 18px;
    line-height: 150px;
    letter-spacing: 4px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s linear;
}

.box-service .select-service .btn-left {
    background-color: #6b6957;
}

.box-service .select-service .btn-right {
    background-color: #474d4b;
}

.box-service .select-service button:hover {
    background-color: #ADA075;
    transition: all 0.3s linear;
}


/* Styling section seller */

.box-seller {
    background-color: #fafafa;
}

.box-seller .wrap-seller .content-seller {
    gap: 35px 25px !important;
}

.box-seller .wrap-seller .content-seller .card-seller {
    background: #fff;
    transition: all 0.3s linear;
}

.box-seller .wrap-seller .content-seller .card-seller:hover {
    box-shadow: 0px 5px 10px #dedede;
    transition: all 0.3s linear;
}

.box-seller .wrap-seller .content-seller .card-seller .photo-seller {
    cursor: pointer;
}

.box-seller .wrap-seller .content-seller .card-seller .infor-seller .infor-1,
.box-seller .wrap-seller .content-seller .card-seller .infor-seller .infor-2 {
    padding: 10px 0px;
    border-bottom: 1px solid #dedede;
}

.box-seller .wrap-seller .content-seller .card-seller .infor-seller .infor-1 .infor-title h1 {
    font-size: 24px;
    font-weight: 600;
}

.box-seller .wrap-seller .content-seller .card-seller .infor-seller .infor-add {
    margin: 5px 0px;
}

.box-seller .wrap-seller .content-seller .card-seller .infor-seller .infor-add a {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #5c5e62;
}

.box-seller .wrap-seller .content-seller .card-seller .infor-seller .infor-add a:hover {
    color: #ADA075;
}

.box-seller .wrap-seller .content-seller .card-seller .infor-seller .infor-place {
    display: flex;
    align-items: center;
    margin: 0px 0px 10px 0px;
}

.box-seller .wrap-seller .content-seller .card-seller .infor-seller .infor-place i {
    font-size: 14px;
    margin: 0px 5px;
}

.box-seller .wrap-seller .content-seller .card-seller .infor-seller .infor-place span {
    font-size: 14px;
}

.box-seller .wrap-seller .content-seller .card-seller .infor-seller .infor-2 button {
    display: inline-block;
    margin: 10px 0px;
    padding: 5px 40px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #6b6957;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.hvr-sweep-to-right:before {
    background: #ADA075 !important;
}

.box-seller .wrap-seller .content-seller .card-seller .photo-seller .time-seller {
    z-index: 1;
    position: absolute;
    bottom: 0px;
    left: 2px;
    width: 40px;
    height: 40px;
    border: 1px dashed #000;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(196, 0, 72);
    font-size: 23px;
    font-weight: 300;
    padding: 5px 8px;
    margin: 6px;
    transform: rotate(-25deg);
    transition: all 0.3s linear;
}

.box-seller .wrap-seller .content-seller .card-seller .price-seller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 0px;
}

.box-seller .wrap-seller .content-seller .card-seller .infor-seller .price-seller .price h3 {
    color: #000;
    font-size: 14px;
    font-weight: 300;
}

.box-seller .wrap-seller .content-seller .card-seller .infor-seller .price-seller .price span {
    font-size: 20px;
    font-weight: 700;
    transition: all 0.1s linear;
}

.box-seller .wrap-seller .content-seller .card-seller:hover .infor-seller .price-seller .price span:not(.discount-price) {
    color: #ADA075;
    transition: all 0.1s linear;
}

.box-seller .wrap-seller .content-seller .card-seller .price-seller .price .discount-price {
    text-decoration-line: line-through;
    font-size: 14px !important;
    color: #5c5e62;
    transition: all 0.3s linear;
}

.box-seller .wrap-seller .content-seller .card-seller .price-seller a {
    color: #5c5e62;
    margin: 0px 5px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s linear;
}

.box-seller .wrap-seller .content-seller .card-seller .price-seller a:hover {
    color: rgb(0, 126, 204);
}


/* Styling section guides */

.box-guides .wrap-guides .content-guides {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
}

.box-guides .wrap-guides .content-guides .card-guides {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    height: 470px;
}

.box-guides .wrap-guides .content-guides .card-guides img {
    width: 100%;
    height: 95%;
    object-fit: cover;
}

.box-guides .wrap-guides .content-guides .card-guides .contact-guides {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 100%;
    background: rgba(0.17, 0.17, 0.17, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.25s linear;
}

.box-guides .wrap-guides .content-guides .card-guides:hover .contact-guides {
    opacity: 1;
    transition: all 0.25s linear;
}

.box-guides .wrap-guides .content-guides .card-guides .contact-guides a {
    color: #fff;
    padding: 5px 13px;
    margin: 1px;
    background-color: #474d4b;
    transition: all 0.25s linear;
}

.box-guides .wrap-guides .content-guides .card-guides .contact-guides a:hover {
    background-color: #ADA075;
    transition: all 0.25s linear;
}

.box-guides .wrap-guides .content-guides .card-guides .contact-guides i {
    color: #fff;
    font-size: 14px;
}

.box-guides .wrap-guides .content-guides .card-guides .infor-guides {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 10px 0px;
    width: 90%;
    display: block;
    text-align: center;
    background-color: #565335;
    transition: all 0.2s linear;
}

.box-guides .wrap-guides .content-guides .card-guides:hover .infor-guides {
    width: 100%;
    background-color: #474d4b;
    transition: all 0.2s linear;
}

.box-guides .wrap-guides .content-guides .card-guides .infor-guides h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    margin: 0px 0px 5px 0px;
}

.box-guides .wrap-guides .content-guides .card-guides .infor-guides p {
    display: inline;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 24px;
    text-transform: uppercase;
}


.tours-guide-pic {
    width: 350px;
    height: 470px;
}




/* MODAL  */
.modal {
    display: none;
    top: 0;
    left: 0;
    z-index: 3;
    position: fixed;

    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);

    width: 100%;
    height: 100%;

}



.open {
    display: flex !important;
}

.modal .ticket-contain {
    position: relative;
    background-color: var(--header-brg);
    color: var(--form-text);
    width: 900px;
    margin: auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    animation: modalFadeIn ease .5s;
    /* ANIMATION chạy dựa vào keyframe */
}


.modal .ticket-card {
    padding: 32px 16px;
    text-align: center;
}

.modal .ticket-heading {
    font-weight: 400;
    letter-spacing: 4px;
}

.modal .ticket-icon {
    margin-right: 16px;
}

.modal .ticket-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 16px;
}

.modal .ticket-body {
    padding: 0.15px 16px;
    text-align: left;
    background-color: white;
    color: black;
}

.modal .ticket-input-form {
    width: 100%;
    padding: 8px;
}

.modal .ticket-pay-btn {
    background-color: var(--header-brg);
    color: var(--form-text);
    padding: 16px;
    margin: 16px 0;
    width: 100%;
    border: none;
}

.modal .ticket-close-btn {
    margin: 16px 0;
    padding: 8px 16px;
    background-color: #f44336;
    color: #fff;
    border: none;
}

.modal .ticket-info {
    float: right;
    margin-top: 15px;
}

.modal .ticket-info a {
    color: #2196F3;
}


/* Tạo một keyframe có những đặt tính tạo sẵn để  gọi thông qua thuộc tính animation */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-300px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.info-contain {
    background-color: var(--header-brg);
    width: 900px;
    height: 800px;
    margin: auto;
    position: relative;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    animation: modalFadeIn ease .5s;
}



.info-title {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--form-text);
}

.info-box-title {
    color: var(--form-text);
    margin: 10px 0;
}

.info-box {
    margin-top: 15px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-box-img {
    width: 250px;
    height: 140px;
}

.info-box-right {
    width: 500px;
    margin-left: 20px;
    text-align: justify;
}

.info-box-par {
    margin-top: 30px;
}

.info-container {
    width: 250px;
    height: 140px;
    overflow: hidden;

}

.info-container:hover .info-box-img {
    scale: 120%;
    transition: all 1.5s linear;
}


.modal-congrat-contain {
    background-color: var(--header-brg);
    width: 800px;
    margin: auto;
    position: relative;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    animation: modalFadeIn ease .5s;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50px;
    border: 2px solid var(--hover-feat);
}

.modal-congrat-title {
    padding: 40px;

    color: var(--form-text);
}

.modal-sign-contain {
    background-color: var(--header-brg);
    width: 350px;
    height: 400px;
    margin: auto;
    position: relative;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    animation: modalFadeIn ease .5s;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50px;
    border: 2px solid var(--hover-feat);
}

.sign-form {
    padding: 5px;
    border-radius: 10px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-brg);
    color: var(--form-text);
}

.sign-btn {
    padding: 10px;
    width: 200px;
    background-color: var(--blue-color);
    color: var(--li-color);
}

.sign-btn:hover {
    color: var(--form-text);
    background-color: var(--header-brg);
    border: 1px solid var(--form-text);
}

.found-sign {
    color: var(--blue-color);
    margin: 0 5px;
}