.ten1 {
    color: wheat;
}

.copy {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}


.anh2{
    width: 100px;
    height: 34px;
}

.copyright {
    width: 100%;
    padding: 20px 0px;
    background-color: #252525;
}

.chua3-3:hover {
    color: #ADA075;
    cursor: pointer;
}

.chua3-3 {
    font-size: 24px;
    text-decoration: none;
    color: #857b5b;
}

.icon-contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0px;
}

.chua3:hover {
    color: #ADA075;
    cursor: pointer;
}

.chua3 {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #9d9d9d;
}

.chuul3 {
    margin: 25px 0px 0px 0px;
}

.chuli3 {
    list-style: none;
    margin: 5px 0px;
}

.chu3 {
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    color: #5c5a46;
}

.infor {
    display: block;
    margin: 0px 25px;
}

.infor-more {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;
    margin: 40px 0px;
}

.wrap-footer {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0px 0px;
}

footer {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-size: cover;
    object-fit: cover;
}

/* phan 2 */
.logo-partner:hover img {
    filter: invert(18%) sepia(5%) saturate(3990%) hue-rotate(17deg) brightness(91%) contrast(79%);
    transition: all 0.25s linear;
}

.anh2 {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.25s linear;
    /* Sửa 'with' thành 'width' */
}

.logo-partner:hover:after {
    width: 100% !important;
    /* Đảm bảo đường viền mở rộng */
    left: 0 !important;
    /* Đặt vị trí đúng */
}

.logo-partner::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: #474d4b;
    transition: all 0.25s linear;
}

.logo-partner {
    position: relative;
    width: 100px;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    margin: 0px 12px;
    cursor: pointer;
    border-bottom: 0.5px solid #dedede;
    transition: all 0.3s linear;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-slider {
    width: 880px;
    height: 241px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chup2-2 {
    /* Sửa từ p1 thành p */
    color: #1f2933;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.8px;
    text-align: center;
}

.chup2 {
    color: #474d4b;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 44px;
    margin: 0px 0px 12px;
    text-align: center;
    text-transform: uppercase;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.content-box {
    top: 26px;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-main1 {
    position: relative;
    height: 350px;
    /* Thay 'height' thành 'min-height' */
    top: 0px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:   #ECDFCC;
}

/* phan dau cuar fooder */

.presentation {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid;
    color: white;
    text-indent: -9999px;
    list-style: none;
    margin: 0px 20px;
    transition: background-color 0.3s ease;
}

.presentation:hover {
    cursor: pointer;
    background-color: white;
}

.presentation.active {
    background-color: #ADA075;
}

.list-dots {
    position: absolute;
    bottom: -145px;
    left: 60%;
    transform: translate(-50%, 100%);
    display: flex;
}

.chua {
    font-size: 21px;
    line-height: 36px;
    color: #ADA075;
    text-decoration: none;
}

.chup {
    display: inline;
    font-size: 19px;
    line-height: 35px;
    color: rgb(255, 255, 255);
}

.chu1 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 30px;
    padding: 0 0 30px;
    border-bottom: 1px solid #fff;
}

.infor-partner {
    color: #fff;
    text-align: center;
}

.sile-card {
    position: absolute;
    top: -138px;
    left: -3px;
    display: grid;
    grid-template-columns: 22% 78%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.sile-card.show {
    opacity: 1;
    visibility: visible;
}

.ipartner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.box-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-partner-1 {
    position: absolute;
    width: 91%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-partner {
    border: 3px solid #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.box-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bmain {
    position: relative;
    width: 100%;
    background-color: var(--header-brg);
}

.box-main {
    position: relative;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 350px;
}

.foodter {
    background-color: #fafafa;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}