.header {
    width: 100%;
    height: 85px;
    background-color: var(--header-brg);
    position: fixed;
    z-index: 2;
}

.navbar-container,
.navbar {
    display: flex;
    line-height: 85px;
    justify-content: space-between;
    list-style-type: none;
}

.nav-child>a {
    padding: 0 20px;
    font-weight: bolder;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    padding-right: 20px;
    border-right: 1px solid var(--right-line-light);
}

.logo-img {
    width: 50px;
    height: 50px;
    /* height: 159px; */
    border-radius: 50%;
}



.subnav {
    position: absolute;
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    margin-top: 85px;
    left: 0;
    background-color: var(--header-brg);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
    z-index: 99;
    height: 340px;
}

.subnav-child>a {
    margin-left: 20px;
    padding-right: 60px;
}

.subnav-child-spec {
    padding-left: 30px;
}

.search-child {
    border: 1px solid white;
    padding: 5px;
    margin: 0 10px;
    border-radius: 10px;
}

/* Show menu phụ */
.subnav-show {
    visibility: visible !important;
    opacity: 1 !important;
}

/* Hidden menu phụ */
.subnav-hidden {
    visibility: hidden;
    opacity: 0;
}

.subnav-1 {
    position: absolute;
    top: 0;
    left: 100%;
    width: 450px;
    height: 340px;
    padding: 20px 10px;
    background-color: var(--header-brg);
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-start;
    border-left: 2px solid var(--right-line-dark);
}

.subnav-spec {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1;
    background-color: var(--header-brg);
    list-style: none;
    left: -50vw !important;
    top: 90%;
    display: flex;

}

.subnav-spec-child {
    width: 340px;

}

.subnav-spec-box {
    line-height: 16px;
    padding: 10px;
}

.subnav-spec-img {
    width: 100%;
    height: 140px;
    transition: 3s ease;

}


.subnav-spec-title {
    font-size: 16px;
    padding: 10px 0;
}

.subnav-spec-content {
    font-size: 13px;
    margin-bottom: 10px;
}

.block-img {
    width: 320px;
    height: 140px;
    overflow: hidden;
}




/* HOVER ZONE */

.logo-img:hover {
    scale: 130%;
    border: 2px solid var(--gray-color);

}

.subnav-spec-img:hover {
    scale: 120%;
}


.nav-child:hover .subnav,
.nav-child:hover .subnav-spec {
    visibility: visible;
    opacity: 1;
}

.nav-child:hover>a,
.feature-child:hover a {
    color: var(--hover-feat);
}


.subnav-1-child:hover>a {
    border-bottom: 2px solid var(--li-color);

}



/* END OF HOVER ZONE */



.form-home {
    width: 100%;
    position: absolute;
    top: 35%;

}

.form-container {

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 5px solid var(--form-border);
    background-color: var(--header-brg);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;

}

.form-box {
    margin: 0 40px;
    padding: 20px 0;
}

.form-box>p {
    margin: 10px 0;
    color: var(--li-color);

}

.form-li {
    background-color: var(--black-color);
    color: var(--gray-color);

}



.sign-btn>.icon-1 {
    position: absolute;
    width: 5%;
    top: 10px;
    right: 20px;
    color: #2F5C2F;
    transform-origin: 100% 100%;
    transform: rotate(-25deg) translateX(120%) translateY(20%);
    z-index: -1;
    transition: all 0.5s;
}

.sign-btn>.icon-2 {
    position: absolute;
    width: 5%;
    top: 20px;
    left: 10px;
    color: #2F5C2F;
    transform-origin: 100% 100%;
    z-index: -1;
    transition: all 0.5s;
}

select,
.form-btn {
    color: var(--form-text);
    background-color: var(--form-text-brg);
    margin: 10px 0;
    padding: 10px;

}

.form-pad {

    margin-top: 50px;
}

.icons-size {
    font-size: 40px;
    padding-bottom: 10px;
}




.search-form {
    margin: 0 20px;
}

.search-btn {
    padding: 5px 5px;
    text-align: start;
    border-radius: 20px;
    background-color: var(--header-brg);
    color: var(--li-color);

}

.search-icon {
    position: absolute;
    right: 35px;
    top: 36px;
    color: var(--li-color);
}


/* Banner */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

.container .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(3) {
    left: 50%;
}

.slide .item:nth-child(4) {
    left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
    left: calc(50% + 440px);
}

/* Here n = 0, 1, 2, 3,.... */

.slide .item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 100px;

    text-align: left;
    color: #eee;
    transform: translate(0 - 50%);
    font-family: system-ui, ;
    display: none;
}

.slide .item:nth-child(2) .content {
    display: block;
}

.content .name {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    background: linear-gradient(194deg, #bfacac 1%, #303030 99%);
    animation: animate 1s ease-in-out 1 forwards;
    padding: 10px;
    border-radius: 50px;
}



.content button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s forwards;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover {
    background: #ababab;
    color: #fff;
    border-radius: 45%;
}