/* Set những class chung chung cho toàn trang */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.pos-rev {
    position: relative;
}

.none-a {
    color: var(--li-color);
    text-decoration: none;
}

.par-mar {
    margin: 15px 0;
}


/* Tùy chỉnh thanh cuộn */
::-webkit-scrollbar {
    width: 5px;
    /* Độ rộng của thanh cuộn */
    background-color: var(--header-brg);
    /* Màu nền của thanh cuộn */
}

/* Tùy chỉnh phần tay cầm (thumb) của thanh cuộn */
::-webkit-scrollbar-thumb {
    background-color: var(--hover-feat);
    /* Màu của thumb */
    border-radius: 6px;
    /* Bo góc */
}

/* Khi hover lên thanh cuộn */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover-feat);
    /* Màu khi di chuột qua */
}

/* Tùy chỉnh phần nền track của thanh cuộn */
::-webkit-scrollbar-track {
    background-color: var(--header-brg);
    /* Màu nền của track */
    border-radius: 6px;
    /* Bo góc */
}